
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400&display=swap');


body {
    font-family: 'Lato', sans-serif;
    font-size: var(--fs-100);
    letter-spacing: -.5px;
  }

  h1{
      font-size: 5rem;
  }
  h2 {
    font-weight: 900;
   font-size:1.6rem;
  }
  p {
      font-size: 1rem;
      & span {
        font-weight: 800;
      }
  }
