:root {
    --blue-100:#f1f6fc;
    --blue-200:#c5dcf8;
    --blue-300:#85b4ec;
    --blue-900:#1d2530;

    --fs-100:1rem;
    --fs-200:1.125rem,
    --fs-300:1.563rem,
    --fs-400:1.953rem,

    --space-100:1rem;
    --space-200:2rem,
}